body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}
img{
    max-width: 100%;
}
input{
    display: block;
    height: 60px;
    width: 400px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* ======= HEADER ======= */
header {
    width: 100%;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.header__logo {
    height: 50px;
    padding: 0 20px;
}
.header__text {
    font-family: "Comic Sans MS", sans-serif;
    padding: 0 30px;
}

/* ======= BUTTON ======= */
.control{
    margin-top: 60px;
}
.control__item{
    display: flex;
    justify-content: space-between;
}
.button{
    height: 60px;
    margin: 0 50px;
    padding: 0 20px;
    background-color: rgb(236, 94, 84);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: 0;
    transition: all 0.2s ease-in-out;
}
.button:active {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

/* ======= CARD ======= */
.main__card {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card__item {   
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 300px;
    padding: 10px;
    margin: 25px;

    box-sizing: border-box;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.card__item:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.card__img {
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background: center / cover no-repeat;
    /* opacity: .8; */
    
}
.card__item h3{
    margin-bottom: 0;
}

/* ======= REATING ======= */
.cat-rating img {
    height: 15px;
}

/* ======= POPUP CATS ======= */
.popup{    
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.popup__container{
    position: relative;
    padding: 20px;
    margin: 20px;
    /* width: 400px; */
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184); 
    box-shadow: 0 0 5px 0 #0004, 0 0 15px 0 #0004;
}
.popup_opened{
    visibility: visible;
    opacity: 1;
}
.popup__content{
    display: flex;
}
.popup__img-close{
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(/img/close.png);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer; 
}
.popup__cat-img{
    width: 500px;
    height: 300px;
    background: center / cover no-repeat;
    object-fit: cover;
    border-radius: 10px;
}
.popup__title{
    margin-left: 20px;
}
.popup__cat-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", sans-serif;
}
.popup__cat-age{
    margin-top: 0;
    margin-bottom: 10px;
}
.popup__cat-description{
    margin-top: 0;
    width: 350px;
}
.popup__cat-id{
    display: none;
    /* margin-top: 0;
    margin-bottom: 10px; */
}
.popup__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.popup__change-form__send-button{
    display: inline-block;
    width: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.popup__edit-form__input{
    margin: 0 0 20px 0;
}
.popup__edit-form__input:nth-child(1){
    margin-top: 70px;
}
.popup__edit-form__send-button{
    margin: 0;
    width: 420px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.popup__delete-form__send-button{
    width: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.popup__add-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup__add-form__input{
    margin: 0 0 20px 0;
}
.popup__add-form__input:nth-child(1){
    margin-top: 70px;
}
.popup__add-form__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__add-form__send-button{
    margin: 0 0 10px 0;
    width: 420px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ======= FOOTER ======= */
.footer .container{
    height: 100px;
    box-shadow:  0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.footer p {
    padding: 40px 0 40px 30px;
    margin: 0;
}

